{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{#    <script src="{{ STATIC_URL }}Highcharts-6.1.3/highcharts.js"></script>#}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
    <title>MyDisplay</title>
</head>
<body>

{% include 'main/navbar.html' %}

<div class="container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}


    {% endblock %}
</div>

<script src="{{ STATIC_URL }}jquery/jquery-3.2.1.min.js"></script>
<script src="{{ STATIC_URL }}popper/popper.js"></script>
<script src="{{ STATIC_URL }}bootstrap4/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/index.js"></script>
</body>
</html>