{% extends 'main/../../../main/templates/main/layout.html' %}

{% block content %}
    <div id="login">
        <form class="form-horizontal" name="LoginForm" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}"/>
            {% endif %}
            <div class="form-group">
                <label class="" for="username">Username</label>
                <div class="">
                    <input class="form-control" type="text" id="username" name="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label class="" for="password">Password</label>
                <div class="">
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Login</button>

        </form>

    <div class="loginRegistration">
{#        <a href={% url 'accounts:registration' %}>Register</a>#}
    </div>
    </div>

{% endblock %}