{% extends 'main/layout.html' %}


{% block content %}
    <h1>Display Settings</h1>



    <h5>Display Model: {{ display.model }}</h5>
    <h5>Maximum Lines: {{ display.model.max_lines }}</h5>
    <h5>Display Serial number: {{ display.serial_number }}</h5>
    <h5>Owner: {{ display.user.username }}</h5>

    <form method="post">
        {% csrf_token %}

{#    {% for field in form %}#}



{#                 <div class="form-group">#}
{#                <label for="exampleInputEmail1">{{ display.friendly_name }}</label>#}
{#                     <input type="text" class="form-control"  name="{{ field.name }}" placeholder={{ field.value }}>#}
{##}
{#            </div>#}
{#        {% for line in lines %}#}
{##}
{##}
{##}
{#            <div class="form-row">#}
{##}
{#                <div class="form-group col-md-6">#}
{##}
{##}
{#                    <label type="text" class="form-control" id="inputCity">{{ line }}</label>#}
{##}
{#                </div>#}
{#                <div class="form-group col-md-4">#}
{##}
{#                    <select id="inputState" class="form-control">#}
{#                        {% for topic in topics %}#}
{#                            <option>{{ topic }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </div>#}
{#                <div class="form-group col-md-2">#}
{##}
{#                    <input class="" type="text" class="form-control" id="inputZip">#}
{#                </div>#}
{#            </div>#}
{##}
{#        {% endfor %}#}
         {{ form }}
        <button type="submit" class="btn btn-primary">Submit</button>
{#     {% endfor %}#}
    </form>

    {#    <form method="post" action="{% url 'display.index' %}">#}
    {##}
    {#    </form>#}



{% endblock %}